@{
    ViewBag.Title = "Server Error";
}

<div class="text-center">
    <h2>Server Error</h2>

    <p>Sorry, something went wrong on the server. We are trying to fix it</p>
    <img src="https://cdn3.emoji.gg/emojis/bongocat.gif" alt="Alternate Text" />
</div>
