@{
    ViewData["Title"] = "Consumer Portal";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <div class="login-container">
        @model LoginViewModel
        <form asp-controller="Auth" asp-action="Login" method="post">
            <div class="form-group">
                <label for="Username">User Name</label>
                <input asp-for="Username" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" required />
            </div>
            <div class="form-group">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</body>
</html>