<form id="file-claim-form" enctype="multipart/form-data">
    <div class="form-group" class="file-claim-content">
        <div class="form-row">
            Plan
            <select id="plan" required>
                <option value="">Choose plan</option>
                <option value="test_option">Test option</option>
            </select>
        </div>
        <div class="form-row">
            Date of Service
            <input type="date" id="date-of-service" required />
        </div>
        <div class="form-row">
            Amount
            <input type="number" id="amount" required />
        </div>
        <div class="form-row">
            Receipt
            <input type="file" id="receipt" required />
        </div>
    </div>
</form>
<div class="form-buttons">
    <div id="file-claim-errors" class="form-errors text-danger"></div>
    <button onclick="handleCancel()" class="btn btn-outline-primary">Cancel</button>
    <button onclick="dataValidation()" class="btn btn-primary">Submit</button>
</div>

<script src="~/Scripts/claims-page.js"></script>