@import url('global.css');

.border-label {
    position: relative;
    left: 35px;
    top: 21px;
    background-color: var(--container-background-color);
    padding: 0 10px;
}

.details-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid var(--form-border-color);
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
}

.claim-details claim-number-container {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
}

.claim-number-container label {
    font-weight: bold;
    margin: 20px 2px 0px 20px;
}

.claim-number-container span {
    color: var(--secondary-blue);
}

.claim-details label {
    width: 120px;
    margin-right: 10px;
}

.space-between-container {
    margin-top:15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .space-between-container button {
        margin-left: auto;
        margin-right:10px;
    }