@import url('global.css');

.main-container {
    margin-top: 20px;
    width: 100%;
}

.new-plan-button {
    display: flex;
    flex-direction: column;
}

    .new-plan-button button {
        align-self: flex-end;
    }

.custom-button {
    border: none;
    border-radius: 5px;
    color: white;
    padding: 4px 12px 4px 12px;
    background-color: var(--button-primary-color);
}

.action-buttons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.action-buttons button {
    margin: 5px 10px 5px 10px;
    padding: 0px;
    height: 30px;
    width: 100px;
}