<head>
    <link rel="stylesheet" href="~/css/enrollments-partial-view.css">
</head>

<div class="enrollments-container">
    <span class="border-label">Enrollments</span>

    <div class="container-border" id="enrollments-inner-container">
        <div id="add-new-button-parent">
            <button class="btn btn-primary" onclick="showEnrollmentModal(-1, -1)">Add New Enrollment</button>
        </div>

        <div id="enrollments-table-wrapper" style="display: none">
            <div class="enrollments-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Plan</th>
                            <th>Election</th>
                            <th>Contribution</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="enrollments-table-body"></tbody>
                </table>

                <div class="action-buttons">
                    <button type="button" class="btn btn-secondary" onclick="closeEnrollments()">Cancel</button>
                    <button class="btn btn-primary" onclick="submitEnrollmentChanges()">Submit</button>
                </div>
            </div>
        </div>

        <div id="no-active-enrollments-wrapper" style="display: none">
            <p>There are no active enrollments</p>
            <div class="action-buttons">
                <button class="btn btn-secondary" onclick="closeEnrollments()">Back</button>
            </div>
        </div>

        <p id="enrollments-error" style="display: none" class="enrollments-error"></p>
    </div>

    <div id="enrollment-details-modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <p>Add or Update Enrollment</p>
                <span class="close" onclick="closeEnrollmentModal()">&times;</span>
            </div>
            <div class="modal-body">
                <div class="modal-table">
                    <form id="enrollment-form">
                        <input type="hidden" id="contributions-input" name="contributions" />
                        <table>
                            <tbody>
                                <tr>
                                    <td class="input-labels">Select a Plan:</td>
                                    <td>
                                        <select name="plan" id="plan-options" onchange="onSelectedPlanChange()"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="input-labels">Elections, $:</td>
                                    <td><input type="number" name="elections" id="elections-input" value="0" /></td>
                                </tr>
                                <tr>
                                    <td class="input-labels">Contributions, $:</td>
                                    <td id="contributions-text"></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-action-buttons">
                    <button class="btn btn-secondary" onclick="closeEnrollmentModal()">Cancel</button>
                    <button class="btn btn-primary" id="enrollment-submit-btn">Submit</button>
                </div>
                <p class="enrollments-error" style="display: none" id="modal-error"></p>
            </div>
        </div>
    </div>
</div>