@{
    ViewData["Title"] = "Employer Portal";
}

<head>
    <link rel="stylesheet" href="~/css/shared.css" asp-append-version=" true" />
</head>

<div id="logout-button-parent">
    <button class="btn btn-primary">Logout</button>
</div>

<div id="logo-content" class="text-center">
    <img class="logo-admin" id="logo-employer" src="https://placehold.co/600x400" />
</div>

<div class="menu-buttons">
    @* Hardcoded employer id until authentication is implemented *@
    <button onclick="showEmployerProfile(1)" class="btn btn-primary">Home</button>
    <button onclick="showEmployees(1)" class="btn btn-primary">Employees</button>
    <button onclick="showContributions()" class="btn btn-primary">Import</button>
    <button onclick="showSettings()" class="btn btn-primary">Setup</button>
</div>

<div id="main-partial-screen"></div>

<script type="text/javascript" src="~/Scripts/shared.js"></script>
<script type="text/javascript" src="~/Scripts/employees-page.js"></script>
<script type="text/javascript" src="~/Scripts/contributions-page.js"></script>
<script type="text/javascript" src="~/Scripts/employer-page.js"></script>
<script type="text/javascript" src="~/Scripts/settings-page.js"></script>