@import url('global.css');

.pages {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

    .pages .page-button {
        padding: 6px 8px;
    }

        .pages .page-button.selected {
            color: var(--secondary-blue);
        }

table {
    border-collapse: collapse;
    border: 1px solid var(--form-border-color);
    border-radius: 8px;
}

th, td {
    border-left: 1px solid var(--form-border-color);
}

th {
    border-bottom: none;
    font-weight: 600;
}

.employees-table {
    margin-top: 20px;
}

.filter-inputs {
    display: flex;
    justify-content: space-between;
}

    .filter-inputs div {
        width: 30%;
        display: flex;
        align-items: center;
    }

    .filter-inputs input {
        flex-grow: 1;
    }

    .filter-inputs label {
        margin-right: 8px;
    }

.filter-buttons {
    margin-top: 16px;
    text-align: end;
}

    .filter-buttons input {
        margin-left: 4px;
    }

#add-new-button-parent {
    text-align: end;
    margin-top: 20px;
}

    #add-new-button-parent button {
        padding-left: 40px;
        padding-right: 40px;
    }

.form-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid var(--form-border-color);
    border-radius: 8px;
    padding: 10px 20px;
}

    .form-inputs form {
        width: 100%;
    }

.border-label-create-employee {
    position: relative;
    left: 30px;
    top: 20px;
    background-color: var(--container-background-color);
    padding: 0 10px;
    text-align: left;
}

.border-label-employees {
    position: relative;
    left: 30px;
    top: 12px;
    background-color: var(--container-background-color);
    padding: 0 10px;
    text-align: left;
}

.general-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid var(--form-border-color);
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
}

.general-container-inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.settings-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 60%
}

.general-container-inner-second {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.form-member-right {
    display: flex;
    justify-content: flex-end;
}
    .form-member-right label {
        padding-right: 30px;
        padding-left: 30px;
    }
    .form-member-right span {
        padding-right: 5px;
        padding-left: 5px;
    }

.form-member-left {
    display: flex;
    justify-content: flex-start;
}
    .form-member-left label {
        padding-right: 30px;
        padding-left: 30px;
        /*padding: 5px;*/
    }
    .form-member-left span {
        padding-right: 5px;
        padding-left: 5px;
    }

.form-member {
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
}

    .form-member label {
        padding-right: 5px;
    }

    .form-member input {
    }

.form-validity-error {
    margin-left: 30px;
    height: 14px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.custom-button {
    border: none;
    border-radius: 5px;
    color: var(--button-primary-text-color);
    padding: 4px 12px 4px 12px;
    background-color: var(--button-primary-color);
}

    .custom-button.secondary {
        background-color: var(--button-secondary-color);
    }

.validation-warning {
    max-width: 300px;
}

.modal-buttons {
    margin: 20px 15px 5px 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

    .claim-buttons button,
    .modal-buttons button {
        padding: 0px;
        height: 30px;
        width: 120px;
        border-radius: 10px;
    }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    padding: 0px 20px 20px 20px;
    border: 1px solid #888;
    max-width: 600px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: modalopen;
    animation-duration: 0.4s;
}

    .modal-content span {
        margin-top: 0px;
        margin-left: auto
    }

    .modal-content p {
        text-align: center;
    }

.anchor-style-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
    color: #0D6EFD;
}

    .anchor-style-button:hover {
        text-decoration: none;
    }

#cancel-button {
    padding: 4px 12px !important;
}

.action-buttons {
    display: flex;
}

.action-buttons button {
    margin-right: 8px;
}