.user-information-section {
    border: solid 1px;
    border-radius: 10px;
    padding: 10px 0px 15px 20px;
    margin-bottom: 30px;
}

.employer-users-section {
    display: flex;
    flex-direction: row;
}

    .employer-users-section table,
    .employer-users-section th,
    .employer-users-section td,
    .employer-users-section tr {
        border: 1px solid;
    }

    .employer-users-section thead {
        background-color: lightgray;
    }

.hoverable-row:hover {
    background-color: dimgrey;
    color: white;
    cursor: pointer;
}

.highlight {
    background-color: dimgrey;
    color: white;
}

.employer-users-section .scrollable-table {
    max-height: 200px;
    overflow: auto;
}

.employer-users-section thead,
.employer-users-section th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.employer-users-section .action-buttons {
    display: flex;
    flex-direction: column;
}

.text-danger {
    margin-top: 5px;
    color: var(--text-danger-color);
}

div.text-danger ul {
    margin-bottom: 5px;
}

.align-left {
    display: flex;
    justify-content: start;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.spacer {
    margin-top: 15px;
    opacity: 0;
}

.border-label {
    position: relative;
    top: -23px;
    background-color: var(--container-background-color);
    padding: 0 10px;
}