@import url('global.css');

.pages {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.pages .page-button {
    padding: 6px 8px;
}

    .pages .page-button.selected {
        color: var(--secondary-blue);
    }

table {
    border-collapse: collapse;
    border: 1px solid var(--form-border-color);
    border-radius: 8px;
}

th, td {
    border-left: 1px solid var(--form-border-color);
    vertical-align: middle;
}

th {
    border-bottom: none;
    font-weight: 600;
}

.claims-table {
    margin-top: 10px;
}

#title-text {
    margin-bottom: 0px;
}

#add-new-button-parent {
    display: flex;
    justify-content: flex-end;
}