@import url('global.css');

.btn {
    display: inline-block;
    padding: 6px;
    background-color: var(--button-primary-color);
    color: var(--container-background-color);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
}

.btn:hover {
    background-color: var(--button-primary-hover-color);
}

.float-right {
    float: right; 
}
