@using CSI.IBTA.Shared.DTOs
@model FullEmployeeDto
@{
    ViewData["Title"] = "Consumer Portal";
}

<head>
    <link rel="stylesheet" href="~/css/shared.css" asp-append-version=" true" />
</head>

<div id="logout-button-parent">
    <a asp-controller="Auth" asp-action="Logout" class="btn btn-primary">Logout</a>
</div>

<div id="logo-content" class="text-center">
    <img class="logo-employer" id="employer-logo" onerror="this.style.display='none';" />
</div>

<div class="menu-buttons">
    <button id="home-btn" onclick="showHome()" class="btn btn-primary">Home</button>
    <button id="employees-btn" onclick="showEnrollments('@Model.Id', '@Model.EmployerId', '1')" class="btn btn-primary">Enrollments</button>
    <button id="import-btn" onclick="showClaims('@Model.Id', '@Model.EmployerId', '1')" class="btn btn-primary">Claims</button>
    <button id="ghost-btn"></button> @* Ghost button for styling/alignment *@
</div>

<div id="main-partial-screen"></div>

<script type="text/javascript" src="~/Scripts/home-page.js"></script>
<script type="text/javascript" src="~/Scripts/enrollments-page.js"></script>
<script type="text/javascript" src="~/Scripts/claims-page.js"></script>

<script>
    window.onload = function () {
        showHome();
        showEmployerLogo();
    }
</script>