@using CSI.IBTA.Administrator.Models
@{
    ViewData["Title"] = "Administrator Portal";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/employer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version=" true" />
    <title>Welcome</title>
</head>
<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="logo-content" class="text-center">
                        <img class="logo-admin" id="logo-employer" />
                    </div>
                    <div class="partial">
                        <div class="panel">
                            <div class="control">
                                <button id="employerBtn" class="left view-btn-active" onclick="showEmployers()">Employer</button>
                                <button id="claimBtn" class="right view-btn" onclick="showClaims()">Claims</button>
                            </div>
                            <div id="content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {
            showEmployers();
        };
    </script>
    <script type="text/javascript" src="~/Scripts/index.js"></script>
    <script type="text/javascript" src="~/Scripts/employer.js"></script>
    <script type="text/javascript" src="~/Scripts/employer-form.js"></script>
    <script type="text/javascript" src="~/Scripts/employer-user.js"></script>
    <script type="text/javascript" src="~/Scripts/employer-plans.js"></script>
    <script type="text/javascript" src="~/Scripts/insurance-packages.js"></script>
    <script type="text/javascript" src="~/Scripts/benefits.js"></script>
    <script type="text/javascript" src="~/Scripts/claim-details.js"></script>
    <script type="text/javascript" src="~/Scripts/claims.js"></script>
</body>
</html>
