@{
    ViewData["Title"] = "Administrator Portal";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/logout.css">
    <title>Welcome</title>
</head>
<body>



    <div class="text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="Logo">
                        <img style="height: 100px" src="https://cdn4.iconfinder.com/data/icons/finance-and-business-set2/32/fin32px079-512.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="partial">
                        <div class="control">
                            <button class="left partial-btn">Employer</button>
                            <button class="right partial-btn">Claims</button>
                        </div>
                        <div class="panel">
                            <div class="control">
                                <button class="left partial-btn active" onclick="showEmployer()">Employer</button>
                                <button class="right partial-btn" onclick="showClaims()">Claims</button>
                            </div>
                            <div id="employer-content">
                                @Html.Partial("_Employer")
                            </div>
                            <div id="claims-content" style="display: none;">
                                @Html.Partial("_Claims")
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function showEmployer() {
            $("#employer-content").show();
            $("#claims-content").hide();
            $(".left.partial-btn").addClass("active");
            $(".right.partial-btn").removeClass("active");
        }

        function showClaims() {
            $("#employer-content").hide();
            $("#claims-content").show();
            $(".left.partial-btn").removeClass("active");
            $(".right.partial-btn").addClass("active");
        }
    </script>
</body>
</html>

