@{
    ViewData["Title"] = "Administrator Portal";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="~/css/employer-form.css">
</head>
<body>

    <div class="nav-buttons">
        <button id="addEmployerButton" class="btn btn-primary">Add Employer</button>
        <button onclick="handleCancel(event)" id="selectDifferentEmployerButton" class="btn btn-primary" style="display:none">Select a different employer</button>
    </div>
    <div id="employerForm" class="form" style="display:none;">
        <h4>Employer Administration</h4>
        <div class="logo-preview">
            <img id="imagePreview" src="#" alt="Logo Preview">
        </div>
        @model CreateEmployerViewModel
        <form asp-action="AddEmployer" method="post" EncType="multipart/form-data">
            <span class="border-label">Profile</span>
            <div class="form-columns">
                <div class="form-column">
                    <div class="form-row">
                        <label for="Name">Name:*</label>
                        <input type="text" name="Name" id="Name" required />
                    </div>
                    <div class="form-row">
                        <label for="Code">Code:*</label>
                        <input type="text" name="Code" id="Code" required />
                    </div>
                    <div class="form-row">
                        <label for="Email">Email:*</label>
                        <input type="email" name="Email" id="Email" required />
                    </div>
                </div>
                <div class="form-column">
                    <div class="form-row">
                        <label for="Street">Street:*</label>
                        <input type="text" name="Street" id="Street" required />
                    </div>
                    <div class="form-row">
                        <label for="City">City:*</label>
                        <input type="text" name="City" id="City" required />
                    </div>
                    <div class="form-row">
                        <label for="State">State:*</label>
                        <input type="text" name="State" id="State" required />
                    </div>
                    <div class="form-row">
                        <label for="ZipCode">Zip Code:*</label>
                        <input type="text" name="ZipCode" id="ZipCode" required />
                    </div>
                    <div class="form-row">
                        <label for="Phone">Phone:*</label>
                        <input type="text" name="Phone" id="Phone" required />
                    </div>
                </div>
            </div>
            <span class="border-label">Logo</span>
            <div class="form-logo">
                <div class="logo-preview">
                    <img id="imagePreview2" src="#">
                </div>
                <div class="logo-name-display" id="fileNameDisplay"></div>
                <input class="btn btn-primary" type="button" id="loadFile" value="Upload" onclick="document.getElementById('Logo').click();" />
                <input type="file" name="Logo" style="display:none;" onchange="previewImage(event); updateFileName(event);" accept="image/*" id="Logo" />
            </div>
            <div class="form-buttons">
                <div asp-validation-summary="All" class="form-errors text-danger"></div>
                <button onclick="handleCancel(event)" class="btn btn-outline-primary">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <script>
        function updateFileName(event) {
            const input = event.target;
            const fileNameDisplay = document.getElementById("fileNameDisplay");

            if (input.files && input.files[0]) {
                const fileName = input.files[0].name;
                fileNameDisplay.textContent = fileName;
            } else {
                fileNameDisplay.textContent = "";
            }
        }
        function handleCancel(event) {
            event.preventDefault();
            var btn = document.getElementById("addEmployerButton");
            btn.style.display = "block";
            var form = document.getElementById("employerForm");
            form.style.display = "none";
            var btn = document.getElementById("selectDifferentEmployerButton");
            btn.style.display = "none";
        }
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('imagePreview');
                output.src = reader.result;
                output.style.display = 'block';
                var output2 = document.getElementById('imagePreview2');
                output2.src = reader.result;
                output2.style.display = 'block';
            };
            reader.readAsDataURL(event.target.files[0]);
        }
        document.getElementById("addEmployerButton").addEventListener("click", function () {
            var btn = document.getElementById("addEmployerButton");
            btn.style.display = "none";
            var form = document.getElementById("employerForm");
            form.style.display = "block";
            var btn = document.getElementById("selectDifferentEmployerButton");
            btn.style.display = "block";
        });
    </script>
</body>
</html>
