@{
    ViewData["Title"] = "Administrator Portal";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/employer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version=" true" />
    <title>Welcome</title>
</head>
<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="logo-content" class="text-center">
                        <img class="logo-admin" id="logo-employer" onerror="this.style.display='none';" />
                    </div>
                    <div class="partial">
                        <div class="panel">
                            <div class="control">
                                <button id="employerBtn" class="left view-btn-active" onclick="showEmployer()">Employer</button>
                                <button id="claimBtn" class="right view-btn" onclick="showClaims()">Claims</button>
                            </div>
                            <div id="employer-content">
                                @Html.Partial("_Employer")
                            </div>
                            <div id="claims-content" style="display: none;">
                                @Html.Partial("_Claims")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("employerBtn").setAttribute("class", "left view-btn-active");
        document.getElementById("claimBtn").setAttribute("class", "right view-btn");

        function showEmployer() {
            $("#employer-content").show();
            $("#claims-content").hide();

            document.getElementById("employerBtn").setAttribute("class", "left view-btn-active");
            document.getElementById("claimBtn").setAttribute("class", "right view-btn");
        }

        function showClaims() {
            $("#employer-content").hide();
            $("#claims-content").show();

            document.getElementById("employerBtn").setAttribute("class", "left view-btn");
            document.getElementById("claimBtn").setAttribute("class", "right view-btn-active");
        }
    </script>
</body>
</html>
