@{
    ViewData["Title"] = "Administrator Portal";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/employer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <title>Welcome</title>
</head>
<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="logo-content" class="text-center">
                        <img class="logo-admin" id="logo-employer" onerror="this.style.display='none';" />
                    </div>
                    <div class="partial">
                        <div class="panel">
                            <div class="control">
                                <button id="employerBtn" class="left view-btn-active" onclick="showPartial('Employer')">Employer</button>
                                <button id="claimBtn" class="right view-btn" onclick="showPartial('Claims')">Claims</button>
                            </div>
                            <div id="partial-container">
                                @Html.Partial("_Employer")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showPartial(partialName) {
            $.ajax({
                url: '@Url.Action("GetPartial", "Home")',
                type: 'GET',
                data: { partialName: partialName },
                success: function (result) {
                    $('#partial-container').html(result);
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                    alert('Error occurred while loading partial view. Please check the console for more details.');
                }
            });
        }
    </script>
</body>
</html>
