@{
    ViewData["Title"] = "Administrator Portal";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/logout.css">
    <title>Welcome</title>
</head>
<body>
    <div>
        <a asp-controller="Login" asp-action="Logout" class="btn btn-primary float-right">Logout</a>
    </div>
</body>
</html>

