@{
    ViewData["Title"] = "Administrator Portal";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/logout.css">
    <title>Welcome</title>
</head>
<body>
    <div>
        <a asp-controller="Auth" asp-action="Logout" class="btn btn-primary float-right">Logout</a>        
    </div>


    <div class="text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="Logo">
                        <img src="https://cdn4.iconfinder.com/data/icons/finance-and-business-set2/32/fin32px079-512.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="btn">
                        <button class="btn btn-primary">Employer</button>
                        <button class="btn btn-primary">Claims</button>
                        <div class="panel">
                            @Html.Partial("_Employer")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

