@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row-column">
    <button onclick="showEditClaim(3)" class="btn btn-primary">Edit</button>
</div>
<div id="control-claim" />
<script type="text/javascript" src="~/Scripts/claims.js"></script>