@{
}
@model CreateEmployerViewModel;

<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome</title>
        <link rel="stylesheet" href="~/css/employer-form.css">
    </head>
<body>
<div>
    <div class="nav-buttons">
        <button onclick="hideCreateEmployerForm()" id="selectDifferentEmployerButton" class="btn btn-primary">Select a different employer</button>
    </div>

    <div id="employerForm" class="form">
        <h4>Employer Administration</h4>
        <div class="logo-preview">
            <img id="imagePreview" src="#" alt="Logo Preview">
        </div>
        <form id="employer-form" EncType="multipart/form-data">
            <span class="border-label">Profile</span>
            <div class="form-columns">
                <div class="form-column">
                    <div class="form-row">
                        <label for="Name">Name:*</label>
                         <input type="text" name="Name" id="Name" required />
                    </div>
                    <div class="form-row">
                        <label for="Code">Code:*</label>
                         <input type="text" name="Code" id="Code" required />
                    </div>
                    <div class="form-row">
                        <label for="Email">Email:*</label>
                        <input type="email" name="Email" id="Email" required />
                    </div>
                </div>
                <div class="form-column">
                    <div class="form-row">
                        <label for="Street">Street:*</label>
                        <input type="text" name="Street" id="Street" required />
                    </div>
                    <div class="form-row">
                        <label for="City">City:*</label>
                        <input type="text" name="City" id="City" required />
                    </div>
                    <div class="form-row">
                        <label for="State">State:*</label>
                        <input type="text" name="State" id="State" required />
                    </div>
                    <div class="form-row">
                        <label for="ZipCode">Zip Code:*</label>
                         <input type="text" name="ZipCode" id="ZipCode" required />
                    </div>
                    <div class="form-row">
                         <label for="Phone">Phone:*</label>
                         <input type="text" name="Phone" id="Phone" required />
                    </div>
                </div>
            </div>
            <span class="border-label">Logo</span>
            <div class="form-logo">
                <div class="logo-preview">
                    <img id="imagePreview2" src="#">
                </div>
                <div class="logo-name-display" id="fileNameDisplay"></div>
                <input class="btn btn-primary" type="button" id="loadFile" value="Upload" onclick="document.getElementById('Logo').click();" />
                <input type="file" name="Logo" style="display:none;" onchange="previewImage(event); updateFileName(event);" accept="image/*" id="Logo" />
            </div>
            </form>
            <div class="form-buttons">
                <div id="employer-form-errors" class="form-errors text-danger"></div>
                 <button onclick="hideCreateEmployerForm()" class="btn btn-outline-primary">Cancel</button>
                 <button type="button" onclick="handleEmployerFormSubmit()" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</body>