@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="admin-partial-view">
    <button class="btn btn-primary">Add New Employer</button>
    <div class="search">
        <h4>Search Criterea</h4>
        <div class="field">
            Employer Name
            <input type="text">
        </div>
        <div class="field">
            Employer Code
            <input type="text">
        </div>
        <button class="btn btn-primary">Search</button>
    </div>
    <div class="table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Employer Name</th>
                    <th>Employer Head</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Coherent Solutions</th>
                    <td>US</td>
                </tr>
                <tr>
                    <th>Coherent Solutions</th>
                    <td>BY</td>
                </tr>
                <tr>
                    <th>ISSoft</th>
                    <td>UK</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary btn-small">Prev</button>
        <button class="btn btn-primary btn-small">Next</button>

    </div>
</div>