@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-sm-8">

        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary">Add New Employer</button>
        </div>
    </div>
    <div class="row">
        <h4 style="text-align:left">Search Criterea</h4>
        <div class="col-sm">
            <div class="field">
                Employer Name
                <input type="text">
            </div>
        </div>
        <div class="col-sm">
            <div class="field">
                Employer Code
                <input type="text">
            </div>
        </div>
        <div class="col-sm">
            <button class="btn btn-primary">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="table-data">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Employer Name</th>
                        <th>Employer Code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><a href="https://google.com">Coherent Solutions</a></th>
                        <td>US</td>
                    </tr>
                    <tr>
                        <th><a href="https://google.com">Coherent Solutions</a></th>
                        <td>BY</td>
                    </tr>
                    <tr>
                        <th><a href="https://google.com">ISSoft</a></th>
                        <td>UK</td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align:right" class="pages">
                <button class="btn btn-primary btn-small">Prev</button>
                <span>0</span>
                <button class="btn btn-primary btn-small">Next</button>
            </div>
           
        </div>
    </div>
</div>
