@using CSI.IBTA.Shared.DTOs
@model int

<div class="form-columns">
    <div class="row">
        <div class="col">
            <span>Employer Setup</span>
            <div class="row-column">
                <a onclick="a()" class="btn btn-primary">Manage Profile</a>
            </div>
            <div class="row-column">
                <button onclick="showEmployerUsersManagement(@Model)" class="btn btn-primary">Manage Users</button>
            </div>
            <div class="row-column">
                <button onclick="showEmployerSettings(@Model)" class="btn btn-primary">Manage Rules</button>
            </div>
        </div>
        <div class="col">
            <span>Plan Setup</span>
            <div class="row-column">
                <a asp-area="" asp-controller="" asp-action="" class="btn btn-primary">Manage Plans</a>
            </div>
        </div>
    </div>
</div>