@model EmployerUserViewModel

<div class="user-information-section">
    <div class="align-left">
        <span class="border-label">User Information</span>
    </div>
    <form asp-controller="Employer" asp-action="@Model.ActionName" method="post">
        @Html.HiddenFor(m => m.EmployerId)
        @Html.HiddenFor(m => m.ActionName)
        @Html.HiddenFor(m => m.UserId)
        <table>
            <tbody>
                <tr>
                    <td class="text-align-right">Firstname:* </td>
                    <td class="align-left"><input asp-for="Firstname" type="text" required /></td>
                </tr>
                <tr>
                    <td class="text-align-right">Lastname:* </td>
                    <td class="align-left"><input asp-for="Lastname" type="text" required /></td>
                </tr>
                <tr>
                    <td class="text-align-right">Email:* </td>
                    <td class="align-left"><input asp-for="Email" type="email" required /></td>
                </tr>
                <tr>
                    <td class="text-align-right">Username:* </td>
                    <td class="align-left"><input asp-for="Username" type="text" required /></td>
                </tr>
                <tr>
                    <td class="text-align-right">Password:* </td>
                    <td class="align-left">
                        <input asp-for="Password" type="password" id="passwordInput" required />
                        <button class="custom-button secondary" id="generate-password-button" type="button" onclick="setRandomPassword()">Generate</button>
                    </td>
                </tr>
                @if (!ViewData.ModelState.IsValid)
                {
                    <tr>
                        <td></td>
                        <td>
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td><button class="align-left custom-button" type="submit">Save</button></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>